<!DOCTYPE html>
<html lang="en-US">

    <head>
        <link rel = "stylesheet" href = "../styles/index.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/3.3.7/paper/bootstrap.min.css">
    </head>

    <body>
        <ul>
            {{#each news}}
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>
                            <a class="article-link" target="_blank" href={{url}}>{{headline}}</a>
                            <a class="btn btn-success delete" data-id= {{id}}>Delete Article</a>
                            <a class="btn btn-success note" data-id= {{id}}>Add Note</a>
                        </h3>
                    </div>
                    <div class="panel-body">
                        {{summary}}
                    </div>
                </div>
            {{/each}}
        </ul>

        {{!--<div class="panel panel-default">
            <div class="panel-heading">
                <h3>
                    <a class="article-link" target="_blank" href="https://www.nytimes.com/2018/01/29/opinion/south-monuments-nashville.html">A Monument the Old South Would Like to Ignore</a>
                    <a class="btn btn-success save">Save Article</a>
                </h3>
            </div>
            <div class="panel-body">
                The debate over the fate of Nashville’s Fort Negley tests the traditional Southern argument for preserving history.
            </div>
        </div>--}}

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>

</html>

<script>
    $(document).on("click", ".note", function() {
        var thisId = $(this).attr("data-id");
        console.log(thisId)
;
        $.ajax({
            method: "POST",
            url: "/note/" + thisId,
            data: {
            title: $("#titleinput").val(),
            body: $("#bodyinput").val()
            }
        })
            .done(function(data) {
            console.log(data);
            $("#notes").empty();
            });

        $("#titleinput").val("");
        $("#bodyinput").val("");
    });
</script>